<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ISappelService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISappelService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9001/SappelService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ISappelService" contract="Sappel.ISappelService"
                name="BasicHttpBinding_ISappelService" />
            <endpoint address="net.tcp://localhost:9002/SappelService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ISappelService" contract="Sappel.ISappelService"
                name="NetTcpBinding_ISappelService">
                <identity>
                    <servicePrincipalName value="host/FIXDEV09.egee.local" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>